server:
  port: 8080
  host: 0.0.0.0
cors:
  origins:
    - "*"
  methods:
    - GET
    - POST
    - PUT
database:
  host: db.internal
  port: 5432
  name: myapp
  user: appuser
  max_connections: 20
logging:
  level: INFO
  format: json